 func getData(_ appendString:String, completion: @escaping (_ result: NSDictionary) -> Void) { //completionHandler: ((NSDictionary!) -> Void)?) {
        
        let urlString = String(format: "https:://urlurl",appendString.replacingOccurrences(of: " ", with: ""))
        
        ////print(urlString)
        
        let url = URL(string: urlString)
        
        let request: NSMutableURLRequest = NSMutableURLRequest(url:url!)
        request.httpMethod = "GET"
        request.cachePolicy = NSURLRequest.CachePolicy.reloadIgnoringCacheData
         let config = URLSessionConfiguration.default
        _ = URLSession(configuration: config)
       
   let task = URLSession.shared.dataTask(with: request as URLRequest) {(data, response, error) in
            // var error: AutoreleasingUnsafeMutablePointer<NSError?> = nil
            
            var jsonResult: NSDictionary! = [:]
            do {
                
                if let json = try JSONSerialization.jsonObject(with: data!, options: []) as? NSDictionary {
                    
//                    ////print("The FiNAl Response is \(json)")
                    jsonResult = json
                    
                } else {
                    let jsonStr = NSString(data: data!, encoding: String.Encoding.utf8.rawValue)
                    //print("Error could not parse JSON: \(jsonStr)")
                }
                
            } catch let parseError {
                //print(parseError)
                let jsonStr = NSString(data: data!, encoding: String.Encoding.utf8.rawValue)
                //print("Error could not parse JSON: '\(jsonStr)'")
            }
            
            // then on complete I call the completionHandler...
            //completionHandler?(jsonResult);
            completion(jsonResult)
        }
        task.resume()
    }
    
    func post_request(_ appendString:String,parameterStr:String, completion: @escaping (_ result: NSDictionary) -> Void) {//completionHandler: ((NSDictionary!) -> Void)?) {
        var responseDict:NSDictionary = [:]
        ////print("parameters are \(parameterStr)")
        
        let url:URL = URL(string: NSString(format: "https:://urlurl", appendString.replacingOccurrences(of: " ", with: "")) as String)!
        _ = URLSession.shared
        //print(session)
        let request = NSMutableURLRequest(url: url)
        request.httpMethod = "POST"
        request.cachePolicy = NSURLRequest.CachePolicy.reloadIgnoringCacheData
         let paramString = parameterStr
        request.httpBody = paramString.data(using: String.Encoding.utf8)
        
        let task = URLSession.shared.dataTask(with: request as URLRequest) {
            (
            returnData, response, error) in
            
            guard let _:Data = returnData, let _:URLResponse = response  , error == nil else {
                ////print("error")
                return
            }
            
            let dataString = NSString(data: returnData!, encoding: String.Encoding.utf8.rawValue)
            //print(dataString!)
            do {
                
                if let json = try JSONSerialization.jsonObject(with: returnData!, options: []) as? NSDictionary {
                    
                    
                    responseDict = json
                    
//                    //print("The Requested API is \(responseDict)")
                    
                    
                } else {
                    let jsonStr = NSString(data: returnData!, encoding: String.Encoding.utf8.rawValue)
                    //print("Error could not parse JSON: \(jsonStr)")
                }
                
            } catch let parseError {
                //print(parseError)
                let jsonStr = NSString(data: returnData!, encoding: String.Encoding.utf8.rawValue)
                //print("Error could not parse JSON: '\(jsonStr)'")
            }
            
            //completionHandler!(responseDict)
            completion(responseDict)
        }
        
        task.resume()
        
    }
    
 post_request("masters", parameterStr: "date=\(date)", completion: { (JSON : NSDictionary) in
      print(JSON)
 })

    
   
}






func createDatabase()->(){
    var databasePath = NSString()
    let filemgr = NSFileManager.defaultManager()
    let dirPaths = NSSearchPathForDirectoriesInDomains(.DocumentDirectory,
                                            .UserDomainMask, true)
    
    let docsDir = dirPaths[0]
    
    databasePath = docsDir.stringByAppendingString("/file.sqlite")
    print("Data base existed\(databasePath)")
    let bundleDatabasePath = NSBundle.mainBundle().pathForResource("file", ofType: "sqlite")
    do   {
        try  filemgr.copyItemAtPath(bundleDatabasePath!, toPath: databasePath as String)
    }catch _ {
        
    }
    DataBasePathDir = databasePath as String
    if filemgr.fileExistsAtPath(databasePath as String) {
        
        contactDB = FMDatabase(path: databasePath as String)
        
        if contactDB == nil {
            print("Error: \(contactDB.lastErrorMessage())n Actually:- DB should not be nil")
        }
        
        if contactDB.open() {
            var sql_stmt = "create table if not exists alerts (ID integer primary key, SUBJECT text not null, CONTENT text not null, STATUS integer not null ,MODIFIED_ON text not null)"
            if !contactDB.executeStatements(sql_stmt) {
                print("Error: \(contactDB.lastErrorMessage())\n Actually:- APP_ALERTS table should be created")
            }else{
                print("APP_ALERTS table created succesfully")
            }
//            sql_stmt = "create table if not exists app_tips (ID integer primary key, `content`	text NOT NULL DEFAULT "string", STATUS integer not null ,MODIFIED_ON text not null)"
//            if !contactDB.executeStatements(sql_stmt) {
//                print("Error: \(contactDB.lastErrorMessage())\n Actually:- APP_TIPS table should be created")
//            }else{
//                print("APP_TIPS table created succesfully")
//            }
            sql_stmt = "create table if not exists banners (ID integer primary key, IMAGE text not null ,RSTATUS integer not null ,MODIFIED_ON text not null)"
            if !contactDB.executeStatements(sql_stmt) {
                
                print("Error: \(contactDB.lastErrorMessage()) \n Actually:- APP_BANNERS table should be created")
                
            }else{
                print("APP_BANNERS table created succesfully")
            }
            sql_stmt = "create table if not exists compare ( ID integer primary key, MODEL_ID integer not null ,VARIANT_ID integer not null, COMPARE_IMAGE text not null , STATUS integer not null, MODIFIED_ON text not null)"
            
            if !contactDB.executeStatements(sql_stmt) {
                print("Error: \(contactDB.lastErrorMessage())\n Actually:- COMPARE table should be created")
            }else{
                print("APP_COMPARE table created succesfully")
            }
            
            
            if !contactDB.executeStatements(sql_stmt) {
                print("Error: \(contactDB.lastErrorMessage()) \n Actually:- SERVICE table should be created")
            }else{
                print("APP_SERVICE table created succesfully")
            }
            
            
            insertData()
            //contactDB.close()
        } else {
            print("Error: \(contactDB.lastErrorMessage())")
        }
    }else{
        print("file already existed")
    }
    
}







func saveAlertsTable(id: String,subject:String,content : String,status: String,modified_on: String)->Bool {
    if contactDB.open() {

        let insertSQL = "INSERT OR REPLACE INTO App_Alerts (id,subject,content,status,modified_on) values ('\(id)', '\(subject)','\(content)','\(status)','\(modified_on)')"
    print("insert alerts sql****\(insertSQL)")
        let result = contactDB.executeUpdate(insertSQL,withArgumentsInArray: nil)
        
        if !result {
            print( "Failed to add App_Alerts")
            print("\(insertSQL)")
            print("Error: \(contactDB.lastErrorMessage())")
            return false
        } else {
            print( "App_Alerts Added")
            return true
        }
    } else {
        print("Error: \(contactDB.lastErrorMessage())")
    }
    return true
}

      do{
            //print("\(title_id)")

            let result = try contactDB.executeQuery("SELECT * from app_banners where city_id = \(title_id) ", values: nil)
            while result.next(){
                if result.stringForColumn("status") != "0"{
                self.imagesarray_banners.addObject(result.stringForColumn("app_image"))
                ////print("amar\(result.stringForColumn("app_image"))")
                }
                else{
                
                
                }
                
//               cimage2.sd_setImageWithURL(NSURL(string: "http://dnmdigital.com/dnm/ambal/uploads/model/small/\(imagesarray_banners.objectAtIndex(0))"), placeholderImage:  UIImage(named: "compare-car"))
//                
          
                
            }
        }catch{
            
        }


func data() -> String{
    let year = "SELECT  DISTINCT `app_usedcars`.`year` FROM (`app_usedcars`) LEFT JOIN `app_city` ON `app_usedcars`.`city` = `app_city`.`id` LEFT JOIN `app_brand` ON `app_brand`.`id` = `app_usedcars`.`brand` LEFT JOIN `app_fuel` ON `app_usedcars`.`fuel_type` = `app_fuel`.`id`"
    return year
}


 for i in 0..<self.id.count {
//                
//                saveAlertsTable(self.id.objectAtIndex(i) as! String, subject: self.subject.objectAtIndex(i) as! String, content: self.content.objectAtIndex(i) as! String, status: self.status.objectAtIndex(i) as! String, modified_on: self.modified_on.objectAtIndex(0) as! String)
//                
//                
//                
//                
//                
//           
}





